.banner__container {
    margin-top: 15px;
    height: 300px;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    border: 1px solid var(--color-gray20);
}

@media screen and (max-width: 780px) {
    .banner__container {
        height: 200px;
    }
}
@media screen and (max-width: 500px) {
    .banner__container {
        height: 129px;
    }
}
@media screen and (max-width: 400px) {
    .banner__container {
        height: 103px;
    }
}